 .u-section-1 {
  background-image: none;
  min-height: 1048px;
}

.u-section-1 .u-shape-1 {
  width: 733px;
  background-image: none;
  left: 135px;
  right: auto;
}

.u-section-1 .u-shape-2 {
  height: 848px;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 890px;
  height: 622px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -782px 300px 0 50px;
}

.u-section-1 .u-group-1 {
  min-height: 452px;
  width: 584px;
  margin: -159px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 35px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  border-style: solid;
  background-image: none;
  margin: 28px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -915px calc(((100% - 1140px) / 2)  + 118px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 569px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 770px;
    margin-right: 50px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2)  + 118px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 966px;
  }

  .u-section-1 .u-shape-1 {
    width: 353px;
    height: 964px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -765px auto 0 calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-1 .u-shape-2 {
    height: 766px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 587px;
    height: 457px;
    object-position: 66.8% 50%;
    margin-top: -653px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -124px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -759px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 896px;
  }

  .u-section-1 .u-shape-1 {
    height: 898px;
    margin-top: -623px;
    margin-left: calc(((100% - 540px) / 2) + 85px);
  }

  .u-section-1 .u-shape-2 {
    height: 623px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 438px;
    height: 330px;
    margin-top: -540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 502px;
    margin-top: -54px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-shape-3 {
    width: 140px;
    height: 140px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 712px;
  }

  .u-section-1 .u-shape-1 {
    width: 208px;
    height: 834px;
    margin-top: -559px;
    margin-left: calc(((100% - 340px) / 2) + 36px);
  }

  .u-section-1 .u-shape-2 {
    height: 559px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 304px;
    height: 241px;
    margin-top: -505px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-3 {
    width: 87px;
    height: 87px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 100px 411px 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 311px;
    margin-right: 311px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 201px;
    margin-right: 201px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 111px;
    margin-right: 111px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 717px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 597px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 149px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 597px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-shape-1 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 416px;
  height: 458px;
  margin: -295px auto -67px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 492px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 54px;
  }

  .u-section-3 .u-image-1 {
    width: 332px;
    height: 398px;
    margin-top: -262px;
    margin-bottom: 0;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 425px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    width: 264px;
    height: 345px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 560px;
  }

  .u-section-3 .u-image-1 {
    width: 420px;
    height: 486px;
    margin-top: -331px;
    margin-bottom: -103px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 43px;
  }

  .u-section-3 .u-image-1 {
    width: 283px;
    height: 313px;
    margin-top: -270px;
    margin-bottom: 0;
    margin-left: 23px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-4 .u-shape-1 {
  width: 475px;
  left: auto;
  right: 292px;
}

.u-section-4 .u-image-1 {
  width: 974px;
  height: 575px;
  object-position: 50% 100%;
  margin: 60px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 462px;
  min-height: 255px;
  background-image: none;
  margin: -649px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 524px;
  margin: 195px auto -14px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 432px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-4 .u-image-1 {
    width: 772px;
    height: 515px;
    margin-top: 134px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -589px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-4 .u-shape-1 {
    width: 511px;
    left: 94px;
    right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 651px;
    height: 463px;
    margin-top: 261px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -654px;
  }

  .u-section-4 .u-list-1 {
    width: 539px;
    margin-top: 312px;
    margin-bottom: -131px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-4 .u-shape-1 {
    width: 398px;
    left: 29px;
  }

  .u-section-4 .u-image-1 {
    width: 503px;
    height: 430px;
    margin-top: 60px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -658px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 349px;
    margin-bottom: -168px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 225px;
    width: 285px;
    margin-top: -482px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 264px;
    margin-top: 209px;
    margin-bottom: -131px;
    margin-left: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1313px;
}

.u-section-5 .u-shape-1 {
  width: 475px;
  height: 594px;
  background-image: none;
  margin: -23px 292px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 1072px;
  height: 642px;
  margin: -500px 68px 0 0;
}

.u-section-5 .u-group-1 {
  width: 486px;
  min-height: 491px;
  background-image: none;
  margin: -108px auto 0 84px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 34px;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-group-2 {
  background-image: none;
  width: 495px;
  min-height: 440px;
  margin: -391px 0 85px auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: Chenla;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-5 .u-image-1 {
    width: 869px;
    height: 566px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 389px;
    min-height: 474px;
    margin-top: -96px;
    margin-left: 49px;
  }

  .u-section-5 .u-group-2 {
    width: 453px;
    min-height: 451px;
    margin-top: -307px;
    margin-bottom: -267px;
  }

  .u-section-5 .u-text-3 {
    font-weight: 400;
    font-family: Ramabhadra;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-5 .u-shape-1 {
    width: 649px;
    height: 425px;
    margin-right: 245px;
  }

  .u-section-5 .u-image-1 {
    width: 665px;
    height: 480px;
    margin-top: -370px;
  }

  .u-section-5 .u-group-1 {
    width: 564px;
    min-height: 434px;
    margin-top: -88px;
    margin-left: 33px;
  }

  .u-section-5 .u-group-2 {
    width: 597px;
    min-height: 388px;
    margin-top: 46px;
    margin-bottom: 85px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1471px;
  }

  .u-section-5 .u-shape-1 {
    width: 477px;
    height: 404px;
    margin-right: 65px;
  }

  .u-section-5 .u-image-1 {
    width: 485px;
    height: 452px;
    margin-top: -349px;
  }

  .u-section-5 .u-group-1 {
    width: 431px;
    min-height: 464px;
    margin-top: -60px;
    margin-left: 27px;
  }

  .u-section-5 .u-group-2 {
    min-height: 462px;
    width: 431px;
    margin: 43px auto 55px 27px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-5 .u-shape-1 {
    width: 306px;
    height: 287px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 306px;
    height: 291px;
    margin-top: -241px;
  }

  .u-section-5 .u-group-1 {
    min-height: 490px;
    width: 323px;
    margin-top: -16px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-2 {
    min-height: 312px;
    width: 323px;
    margin: 22px 0 46px auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 654px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 58px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 194px;
  margin: 53px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  width: 249px;
  margin: 20px 131px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 21px 200px 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 60px 0 54px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 491px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 18px 0 0;
}

.u-section-6 .u-form-1 {
  height: 333px;
  margin: 18px 0 0;
}

.u-section-6 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-6 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-6 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 81px;
    margin-right: 81px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 4px;
    margin-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 95px;
    margin-right: 95px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}